<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR code generator</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <style>
      .flex {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
      }
      .flex-1 {
        flex: 1;
        -webkit-flex: 1;
      }
      .justify-center {
        justify-content: center;
        -webkit-justify-content: space-center;
      }
      .justify-between {
        justify-content: space-between;
        -webkit-justify-content: space-between;
      }
      .items-center {
        align-items: center;
        -webkit-align-items: center;
      }
      .pb_before {
        page-break-before: always !important;
      } /* Breaks page before of element */
      .pb_after {
        page-break-after: always !important;
      } /* Breaks page after of element */
      .pbi_avoid {
        page-break-inside: avoid !important;
      } /* Avoid breaks page in element */

      .text-label {
        font-size: 2.7vw;
      }
      .text-value {
        font-size: 3vw;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <% assets.forEach((asset, index) => { %>
    <div
      style="height: 100%; width: 100%"
      class="flex items-center justify-between"
    >
      <div style="width: auto" class="flex">
        <img
          width="<%= qrcode.size %>px"
          height="<%= qrcode.size %>px"
          src="<%= asset.qrcode_image %>"
        />
      </div>
      <div
        style="
          height: 100%;
          width: 0.1rem;
          background-color: #94a3b8;
          margin: 0 0.4rem;
        "
      ></div>
      <div class="flex-1" style="text-align: left">
        <div>
          <span class="text-label">Asset ID:</span>
          <span class="text-value">BXOLAKSO</span>
        </div>
        <div>
          <span class="text-label">Asset Name:</span>
          <span class="text-value">A Buddy</span>
        </div>
        <div>
          <span class="text-label">Export Date:</span>
          <span class="text-value">10 May 2022</span>
        </div>
      </div>
      <div
        style="
          height: 100%;
          width: 0.1rem;
          background-color: #94a3b8;
          margin: 0 0.4rem;
        "
      ></div>
      <div style="width: auto" class="flex">
        <img
          width="<%= logo.size %>px"
          height="<%= logo.size %>px"
          src="data:image/png;base64,<%= logo.image %>"
        />
      </div>
    </div>
    <% if (index + 1 < assets.length) { %>
    <div style="height: 8px" class="pb_before"></div>
    <% } %> <% }); %> 
    
    <div style="height: 8px" class="pb_before"></div>
    <div class="flex">
      <div>Wall 1</div>
    </div>
    <div style="height: 8px" class="pb_before"></div>
    
    <% assets.forEach((asset, index) => { %>
    <div
      style="height: 100%; width: 100%"
      class="flex items-center justify-between"
    >
      <div style="width: auto" class="flex">
        <img
          width="<%= qrcode.size %>px"
          height="<%= qrcode.size %>px"
          src="<%= asset.qrcode_image %>"
        />
      </div>
      <div
        style="
          height: 100%;
          width: 0.1rem;
          background-color: #94a3b8;
          margin: 0 0.4rem;
        "
      ></div>
      <div class="flex-1" style="text-align: left">
        <div>
          <span class="text-label">Asset ID:</span>
          <span class="text-value">BXOLAKSO</span>
        </div>
        <div>
          <span class="text-label">Asset Name:</span>
          <span class="text-value">A Buddy</span>
        </div>
        <div>
          <span class="text-label">Export Date:</span>
          <span class="text-value">10 May 2022</span>
        </div>
      </div>
      <div
        style="
          height: 100%;
          width: 0.1rem;
          background-color: #94a3b8;
          margin: 0 0.4rem;
        "
      ></div>
      <div style="width: auto" class="flex">
        <img
          width="<%= logo.size %>px"
          height="<%= logo.size %>px"
          src="data:image/png;base64,<%= logo.image %>"
        />
      </div>
    </div>
    <% if (index + 1 < assets.length) { %>
    <div style="height: 8px" class="pb_before"></div>
    <% } %> <% }); %>
  </body>
</html>
